body {
    text-align: center;
}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: sans-serif;
    font-size: 20px;
    display: inline;
}

.links:hover {
    background-color: azure;
    text-decoration: underline;
    font-size: 25px;

}

.menu {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.article:hover {
    color: antiquewhite;
}

#contact iframe {
    width: 100%;

}

.contact-1 h3 {
    display: inline;
}

.contact-1 a {
    color: black;
    text-shadow: none;
